/* jobdashboard.css */

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: white;
  margin: 0;
  padding: 0;
}

.jobseeker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: #00bcd4;
}

.upload-section {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-label {
  background-color: #00bcd4;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.upload-label input {
  display: none;
}

.upload-icon {
  margin-right: 10px;
}

button {
  background-color: #00bcd4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #008ba3;
}

.recommendations {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
}
